@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    max-width: 100vw;
  }

  .mask {
    -webkit-mask-image: url("../public/maskp.png");
    -webkit-mask-position: right;
    -webkit-mask-size: 100% 150%;
    height: 100%;
    mask-image: url("../public/maskp.png");
    mask-position: right;
    mask-size: 100% 150%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

.box {
  box-shadow: 0 0 15px #39ff14;
}

/* IMAGE MASK */

.image3 {
  background: url("../public/category4.jpeg");
}

.image1 {
  background: url("../public/category3.jpeg");
}

.image2 {
  background: url("../public/category2.jpeg");
}

/*  IMAGE REVEAL ON SCROLL */

.imageReveal {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100px;
}

.img-1 {
  background: url("../public/category4.jpeg");
}

.img-2 {
  background: url("../public/category3.jpeg");
}

.img-3 {
  background: url("../public/category2.jpeg");
}

.piece1 {
  background-position: 0 0px;
}

.piece2 {
  background-position: 0 -100px;
}

.piece3 {
  background-position: 0 -200px;
}

.piece4 {
  background-position: 0 -300px;
}

.piece5 {
  background-position: 0 -400px;
}

::-webkit-scrollbar {
  width: 0;
}
